<div class="title">
  <h2>Todo App</h2>
</div>
<div class="add-item">
  <input type="text" #itemTitle (click)="defaultActiveButton()">
  <button (click)="addNewItem(itemTitle)">Add item</button>
</div>
<div class="filter">
  <div class="check">
    <button (click)="removeItems()">Remove all</button>
  </div>
  <div class="filtered">
    <button [ngClass]="{'active-button': activeButton === 'all'}" (click)="allItems()">All</button>
    <button [ngClass]="{'active-button': activeButton === 'active'}" (click)="activeItems()">Active</button>
    <button [ngClass]="{'active-button': activeButton === 'completed'}" (click)="completedItems()">Completed</button>
  </div>
</div>
<div class="items">
  <ul>
    <li *ngFor="let item of filteredItems" [ngClass]="{'done-item': item.isCompleted}">
      <span>{{item.id}}</span><span>{{item.title}}</span><span>{{item.time}} <button
          (click)="completedItem(item.id)">X</button></span></li>
  </ul>
  <div *ngIf="activeButton ==='completed' && completed">
    <h2>there are no completed items</h2>
  </div>

</div>